.popular {
    max-height: 558px;
    width: 100%;
    position: absolute;
    transform: translate(0,-70%);
    z-index: 3;
    &__cone {
        width: 1268px;
        height: 367px;
        background: $double-color;
        border-radius: 64px;
        position: absolute;
        z-index: 2;
        margin-top: 70px;
    }
    h2 {
        margin-left: 120px;
        span {
            color: $main-color;
            text-decoration-line: underline;
            text-decoration-color: $span-color;
        }
    }
    .container {
        display: flex;
        justify-content: center;
        max-height: 472px;
        margin-top: 40px;
    }
    &__slide {
        max-width: 355px;
        max-height: 385px;
        filter: drop-shadow(10px 10px 32px rgba(0, 0, 0, 0.25));
        background: white;
        border-radius: 12px;
        padding-top: 24px;
        padding-bottom: 19px;
        margin-left: 16px;
        margin-right: 16px;
        z-index: 3;
        img {
            max-width: 307px;
            max-height: 226px;
            margin-bottom: 19px;
            margin-left: 20px;
            margin-right: 20px;
            
        }
        .rating {
            margin-left: 30px;
            text-align: center;
            margin-top: 5px;
            color: $main-color;
            font-weight: 700;
            font-size: 14px;
            line-height: 21px;
            width: 62px;
            height: 26px;
            background-color: #fff;
            border-radius: 50px;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: space-around;
            border: 15px solid rgba(255, 255, 255, 0.336);

            i {
                color:#FF912B;
            }
        }
    }
    &__slide_flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 29px;
        margin-right: 33px;
        h3 {
            font-weight: 600;
            font-size: 24px;
            line-height: 36px;
        }
        .butts {
            button {
                width: 64px;
                height: 32px;
                border: 2px solid #FFD28F;
                border-radius: 8px;
                background: none;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                color: #FFD28F;
            }
            button:hover {
                border: 2px solid #FF912B;
                border-radius: 8px;
                color: #FF912B;
            }
            button:focus {
                border: 2px solid #FF912B;
                border-radius: 8px;
                color: #FF912B;
            }
        }
        .butt__cart {
            button {
                width: 43px;
                height: 43px;
                background: #FF912B;
                border-radius: 64px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: none;
                i {
                    color: white;
                }
            }
        }
    }
}
